$md-blue-500: #2196f3;





.stepper {
  border: 1px solid red;
  height: auto;
}


.stepper-indicator {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  // border-bottom: 3px solid $md-blue-500;
}

.stepper-inner {
  width: 15em;
  text-align: center;
  cursor: pointer;
}

.stepper-number {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 50%;
  position: relative;
  text-align: center;
  z-index: 1;
  border: 2px solid grey;
  background-color: white;
  color: grey;
  
  span:after {
    width: 999em;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 40px;
    // background-color: #E8E8E8;
    content: "";
  }

  span:first-child {
    &:after {
      left: 50%;
    }
  }

  span:last-child {
    &:after {
      right: 50%;
      left: auto;
    }
  }
  
  &.active {
    border: 1px solid green;
    color: white;
    background-color: green;
    // background-color: $md-blue-500;
  }
}

.stepper-label {
  // position: absolute;
  margin-top: 16px;
  margin-bottom: 16px;
  height: 24px;
  text-align: center;
  // border: 1px solid red;
  text-transform: uppercase;
  font-size: 12px;
  width: 100%;
}

.stepper-steps {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

.stepper-actions {
  // position: absolute;
  // bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

button {
  height: 42px;
  border-radius: 4px;
  background-color: $md-blue-500;
  border: 0;
  transition: all .2s linear;
  margin-left: 5px;
  min-width: 100px;
  text-align: center;
  // text-transform: uppercase;
  color: white;
  cursor: pointer;
  outline: 0;
  padding: 10px;
}

.line {
  top: 100px;
  width: 75%;
  background-color: #d5d5d5;
  height: 2px;
  position: absolute;
  left: 12%;
}